* {
  margin: 0px;
  padding: 0px;
}

.taskContainer {
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
}

.boardContainer {
  background-color: beige;
  border-radius: 4px;
  margin: 2px;
}
.btn {
  padding: 4px;
  border-radius: 4px;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.btn-danger {
  background-color: red;
  color: white;
}
